<%= form_for(@notebook) do |f| %>
  <% if @notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

      <ul>
      <% @notebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :number %>
		<%= f.text_field :number, :class => 'form-control' %>
	</div>
  <div class="form-group">
    <%= f.label :bjcp_id %>
		<%= f.collection_select :bjcp_id, Bjcp.all, :id, :full_name, {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
