<div class="panel-heading">
	<h1 class="panel-title">General information</h1>
</div>
<div class="panel-body">
	<ul class="pull-right list-unstyled">
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      Menu <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_notebook_path(@notebook) %></li>
				<li><%= link_to '<i class="fa fa-close"></i> Delete this notebook'.html_safe, @notebook, method: :delete, data: { confirm: 'Are you sure?' } %></li>
				<% if @notebook.progress == 7 && @notebook.formula.nil? %>
					<li class="divider"></li>
					<li><%= link_to '<i class="fa fa-list-ol"></i> Publish'.html_safe, new_formula_with_param_path(@notebook.id) %></li>
				<% end %>
	    </ul>
	  </li>
	</ul>
	<p class="pull-left">
	  <strong>Name:</strong>
	  <%= @notebook.name %>
	</p>
	<div class="clearfix"></div>
	<p>
	  <strong>Brew number:</strong>
	  <%= @notebook.number %>
	</p>

	<p>
	  <strong>BJCP Style:</strong>
	  <%= @notebook.bjcp.code %> <%= @notebook.bjcp.sub_category %> 
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @notebook.description %>
	</p>

	<p>
	  <strong><a href="#ingredients" data-toggle="collapse">Ingredients <i class="fa fa-caret-down pull-right"></i></a></strong>
	  <% @ingredients = @notebook.ingredients.order(kind: :asc) %>
		<div class="collapse" id="ingredients">
			<% unless @ingredients.nil? %>
				<table class="table">
					<th>Kind</th>
					<th>Name</th>
					<th>Qty</th>
					<th></th>
					<% @ingredients.each do |ingredient| %>
					<tr>
						<td><%= ingredient.kind %></td>
						<td><%= ingredient.name %></td>
						<td><%= ingredient.quantity %>g</td>
						<td>
							<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_ingredient_path(ingredient) %> 
			      	<%= link_to '<i class="fa fa-close"></i>'.html_safe, ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
						</td>
					</tr>
					<% end %>
				</table>
			<% end %>
			<%= link_to '<i class="fa fa-plus"></i> Add ingredient'.html_safe, new_ingredient_with_param_path(@notebook.id), :class => 'btn btn-info' %>
		</div>
	</p>
	<% if @notebook.abv %>
		<p>
		  <strong>ABV:</strong>
		  <%= @notebook.abv.round(2) %>%
		</p>
	<% end %>
</div>
