<p>
  <strong>Code:</strong>
  <%= @notebook.bjcp.code %>
</p>
<p>
  <strong>Category:</strong>
  <%= @notebook.bjcp.category %>
</p>
<p>
  <strong>Subcategory:</strong>
  <%= @notebook.bjcp.sub_category %>
</p>
<p>
  <strong>IBU:</strong>
  <%= @notebook.bjcp.ibu_min %>-<%= @notebook.bjcp.ibu_max %>
</p>
<p>
  <strong>SRM:</strong>
  <%= @notebook.bjcp.srm_min %>-<%= @notebook.bjcp.srm_max %>
</p>
<p>
  <strong>ABV:</strong>
  <%= @notebook.bjcp.abv_min %>-<%= @notebook.bjcp.abv_max %>%
</p>