<% if @notebook.notes.any? %>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Date</th>
			<th></th>
		</tr>

		<% @notebook.notes.each do |note| %>
	    <tr>
	      <td><%= note.name %></td>
	      <td><%= note.description %></td>
	      <td><%= note.created_at.strftime('%H:%M, %m.%d.%Y') %></td>
	      <td>
					<%= link_to '<i class="fa fa-eye"></i>'.html_safe, note %> 
					<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_note_path(note) %> 
	      	<%= link_to '<i class="fa fa-close"></i>'.html_safe, note, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
	    </tr>
		<% end %>
	</table>
<% end %>
<%= link_to 'New note', new_note_with_param_path(@notebook.id), :class => 'btn btn-info' %>