<h1>Your notebooks</h1>

<div class="row">
	<% @notebooks.each do |notebook| %>
	<div class="col-lg-3 col-sm-6 notebook">
		<div class="item">
			<h3><%= link_to notebook.name, notebook %></h3>
			<p><strong><%= notebook.bjcp.code %> <%= notebook.bjcp.sub_category %></strong></p>
			<p>#<%= link_to notebook.number, notebook %></p>
			<% 
			now = notebook.progress
			now = now * 14.3 unless now == 0
			%>
			<% if now >= 100 %>
				<div class="progress">
				  <div class="progress-bar active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				    <span class="sr-only"><%= now %>% Complete</span>
				  </div>
				</div>
			<% else %>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= now %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= now %>%">
				    <span class="sr-only"><%= now %>% Complete</span>
				  </div>
				</div>
			<% end %>
			<p><strong>Desc: </strong><%= notebook.description %></p>
			<% if notebook.published == 1 %>
				<p><strong><i class="fa fa-list-ol"></i> Published!</strong> <%= link_to 'View formula', notebook.formula %></p>
			<% else %>
				<p>&nbsp;</p>
			<% end %>
			<p><%=link_to '<i class="fa fa-eye"></i> View'.html_safe, notebook, :class => 'btn btn-lg btn-info' %></p>
		</div>
	</div>
	<% end %>
	<div class="clearfix"></div>
	<div class="col-md-12">
		<%= link_to 'New notebook', new_notebook_path, :class => "btn btn-info" %>
	</div>
</div>




