<div class="row notebook-view">
	<div class="col-md-12">
		<h1><%= @notebook.name %> (#<%= @notebook.number %>)</h1>
	</div>
	
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<%= render 'general' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#guideline" data-toggle="collapse">BJCP Guideline <i class="fa fa-caret-down pull-right"></i></a></h3>
					</div>
					<div class="collapse panel-body" id="guideline">
						<%= render 'guideline' %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<h3>Progress</h3>
				<%= render '/notebooks/steps/progress' %>
			</div>
			<div class="col-md-12">
				<h3>Notes</h3>
				<%= render 'notes' %>
			</div>
		</div>
	</div>
	
	<div class="clearfix" style="clear:both;"></div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a href="#mash-in" data-toggle="collapse">1. Mash <i class="fa fa-caret-down pull-right"></i></a></h3>
			</div>
			<div class="collapse panel-body" id="mash-in">
				<%= render '/notebooks/steps/mash_in' %>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="#filtration" data-toggle="collapse">2. Filtration <i class="fa fa-caret-down pull-right"></i></a>
				</h3>
			</div>
			<div class="collapse panel-body" id="filtration">
				<%= render '/notebooks/steps/filtration' %>
			</div>
		</div>
	</div>
	
	
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="#sparge" data-toggle="collapse">3. Sparge <i class="fa fa-caret-down pull-right"></i></a>
				</h3>
			</div>
			<div class="collapse panel-body" id="sparge">
				<%= render '/notebooks/steps/sweetening' %>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="#brewing" data-toggle="collapse">4. Brewing <i class="fa fa-caret-down pull-right"></i></a>
				</h3>
			</div>
			<div class="collapse panel-body" id="brewing">
				<%= render '/notebooks/steps/brewing' %>
			</div>
		</div>
	</div>
	
	<div class="clearfix" style="clear:both;"></div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="#fermentation" data-toggle="collapse">5. Fermentation <i class="fa fa-caret-down pull-right"></i></a>
				</h3>
			</div>
			<div class="collapse panel-body" id="fermentation">
				<%= render '/notebooks/steps/fermentation' %>
			</div>
		</div>
	</div>
</div>