<%= form_for(@primary_fermentation_day) do |f| %>
  <% if @primary_fermentation_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primary_fermentation_day.errors.count, "error") %> prohibited this primary fermentation day from being saved:</h2>

      <ul>
      <% @primary_fermentation_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :day %>
    <%= f.number_field :day, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :temperature %> <i>(&deg;C)</i>
    <%= f.text_field :temperature, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :fermentation_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
