<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @note.created_at.strftime('%H:%M, %m.%d.%Y') %>
</p>

<p>
  <strong>Notebook:</strong>
  <%= @note.notebook.name %>
</p>
