<h1>Dashboard</h1>
<div class="row dashboard">
	<div class="col-md-6 notebooks">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-book"></i> Your recent notebooks</h3>
			</div>
			<div class="panel-body">
				<% if !@notebooks.empty? %>
					<% i = 0 %>
					<% @notebooks.each do |notebook|%>
						<p><strong><%= link_to notebook.name, notebook %> (<%= notebook.bjcp.full_name %>)</strong></p>
						<p>Progress: <%= notebook.progress %>/8, created at: <%= notebook.created_at.strftime('%H:%M, %m.%d.%Y') %></p>
						<% if i < 2 %>
							<hr />
						<% end %>
						<% i = i + 1 %>
					<% end %>
				<% else %>
					<p>You haven't created any notebooks yet. Start brewing with us!</p>
					<p><%= link_to '<i class="fa fa-beer"></i> New notebook'.html_safe, new_notebook_path, :class => 'btn btn-info' %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6 formulas">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list-ol"></i> Your recent formulas</h3>
			</div>
			<div class="panel-body">
				<% if !@formulas.empty? %>
					<% i = 0 %>
					<% @formulas.each do |formula|%>
						<p><strong><%= link_to formula.name, formula %> (<%= formula.notebook.bjcp.full_name %>)</strong></p>
						<p>Published at: <%= formula.created_at.strftime('%H:%M, %m.%d.%Y') %></p>
						<% if i < 2 %>
							<hr />
						<% end %>
						<% i = i + 1 %>
					<% end %>
				<% else %>
					<p>You haven't published any formulas yet!</p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-12 feed-container">
		<div class="panel panel-default panel-feed">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list-ol"></i> News feed</h3>
			</div>
			<div class="panel-body">
				<% if !@feeds.empty? %>
					<% @feeds.each do |feed| %>
					<div class="col-md-12 feed">
							<% resource = feed.reference_type.titleize %>
							<% object = feed.reference_type.singularize.classify.constantize.find(feed.reference_id) %>
							<div class="user-info">
								<%= image_tag feed.user.avatar.url(:thumb) %>
								<strong><%= link_to feed.user.full_name, feed.user %></strong>
								<%= feed.action_desc %>
								<% if object.is_a? User %>
									<strong><a href="<%= url_for(object) %>"><%= object.full_name %> <%= image_tag feed.user.avatar.url(:thumb) %></a></strong>
									<!--strong><%= link_to object.full_name, object %></strong-->
								<% else %>
									<strong><%= link_to object.name, object %></strong>
								<% end %>
								<small>on <%= feed.created_at.strftime('%H:%M, %m.%d.%Y')%></small>
							</div>
					</div>
					<% end %>
				<% else %>
					<p>No recent activity.</p>
					<p><%= link_to '<i class="fa fa-users"></i> Find friends'.html_safe, users_index_path, :class => 'btn btn-info' %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>
