<%= form_for(@mashin_break) do |f| %>
  <% if @mashin_break.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mashin_break.errors.count, "error") %> prohibited this mashin_break from being saved:</h2>

      <ul>
      <% @mashin_break.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="form-group">
    <%= f.label :step_type %>
		<%= f.select(:step_type, $types.map { |value| [ value.humanize, value ] }, {}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :entry_temp %> <i>(&deg;C)</i>
    <%= f.text_field :entry_temp, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :result_temp %> <i>(&deg;C)</i>
    <%= f.text_field :result_temp, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_minutes %>
    <%= f.text_field :duration_minutes, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :mashin_id, :class => 'form-control' %>
    <%= f.submit "Go", :class => 'btn btn-info' %>
  </div>
<% end %>
