<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true, :class => "form-horizontal new_user"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group has-feedback has-feedback-left">
    <div class="col-sm-12">
			<%= f.email_field :email, autofocus: true, :class => 'form-control input-lg', :placeholder => "E-mail" %>
			<i class="form-control-feedback fa fa-envelope"></i>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_field :name, :class => 'form-control input-lg', :placeholder => "Name" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_field :surname, :class => 'form-control input-lg', :placeholder => "Surname" %>
		</div>
	</div>
	<div class="form-group has-feedback has-feedback-left">
		<div class="col-sm-12">
			<%= f.label :password %>
    	<%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Password (leave blank if you don't want to change it)" %>
			<i class="form-control-feedback fa fa-lock"></i>
		</div>
  </div>
	<div class="form-group has-feedback has-feedback-left">
		<div class="col-sm-12">
   		<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Password confirmation" %>
			<i class="form-control-feedback fa fa-lock"></i>
		</div>
  </div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.label :birth_date %>
			<%= f.date_select :birth_date, {:order => [:month, :day, :year], :start_year=>1900, :end_year=>2015}, {:class => 'form-control input-lg'} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_area :desc, :class => 'form-control input-lg'%>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.label 'Upload your avatar' %>
			<%= f.file_field :avatar, :class => 'form-control input-lg' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
    	<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    	<%= f.password_field :current_password, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Current password" %>
  	</div>
	</div>
	

  <div class="actions">
    <%= f.submit "Update", :class => 'btn btn-info' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
