<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:multipart => true, :class => "form-horizontal new_user"}) do |f| %>
  <%= devise_error_messages! %>
	<div class="form-group">
		<div class="col-sm-12 logo">
			<h1>Brewnote</h1>
		</div>
	</div>
  <div class="form-group has-feedback has-feedback-left">
    <div class="col-sm-12">
			<%= f.email_field :email, autofocus: true, :class => 'form-control input-lg', :placeholder => "E-mail" %>
			<i class="form-control-feedback fa fa-envelope"></i>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_field :name, :class => 'form-control input-lg', :placeholder => "Name" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_field :surname, :class => 'form-control input-lg', :placeholder => "Surname" %>
		</div>
	</div>
	<div class="form-group has-feedback has-feedback-left">
		<div class="col-sm-12">
    	<%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Password" %>
			<i class="form-control-feedback fa fa-lock"></i>
		</div>
  </div>
	<div class="form-group has-feedback has-feedback-left">
		<div class="col-sm-12">
   		<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Password confirmation" %>
			<i class="form-control-feedback fa fa-lock"></i>
		</div>
  </div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.label 'Upload your avatar' %>
			<%= f.file_field :avatar, :class => 'form-control input-lg' %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.label :birth_date %>
			<%= f.date_select :birth_date, {:order => [:month, :day, :year], :start_year=>1900, :end_year=>2015}, {:class => 'form-control input-lg'} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.text_area :desc, :class => 'form-control input-lg', :placeholder => "Say something about you!" %>
		</div>
	</div>
	<div class="form-group">
    <div class="col-sm-12">
  		<%= f.submit "Register", :class => "btn btn-info btn-lg" %>
		</div>
	</div>
<% end %>

<%= render "devise/shared/links" %>
