<%= form_for(@primary_fermentation) do |f| %>
  <% if @primary_fermentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primary_fermentation.errors.count, "error") %> prohibited this primary_fermentation from being saved:</h2>

      <ul>
      <% @primary_fermentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blg %><br>
    <%= f.text_field :blg %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="actions">
		<%= f.hidden_field :fermentation_id %>
    <%= f.submit %>
  </div>
<% end %>
