<%= form_for(@brewing_hop) do |f| %>
  <% if @brewing_hop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewing_hop.errors.count, "error") %> prohibited this hopping from being saved:</h2>

      <ul>
      <% @brewing_hop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :hop_name %>
    <%= f.text_field :hop_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hop_quantity %> <i>(grams)</i>
    <%= f.text_field :hop_quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :minutes_before_end %>
    <%= f.number_field :minutes_before_end, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :brewing_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
