<%= form_for(@fermentation) do |f| %>
  <% if @fermentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fermentation.errors.count, "error") %> prohibited this fermentation from being saved:</h2>

      <ul>
      <% @fermentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quantity, "Volume" %> <i>(litres)</i>
    <%= f.text_field :quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :blg %>
    <%= f.text_field :blg, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start_temperature %> <i>(&deg;C)</i>
    <%= f.text_field :start_temperature, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :yeast_form %>
		<%= f.select(:yeast_form, $forms.map { |value| [ value.humanize, value ] }, {}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :yeast_quantity %> <i>(grams or mililiters)</i>
    <%= f.text_field :yeast_quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
