<h1>All users</h1>
<div class="row">
	<% @users.each do |user| %>
		<div class="col-lg-3 col-sm-6 notebook">
			<div class="item">
				<div class="row">
					<div class="col-md-6 text-right">
						<%= image_tag user.avatar.url(:thumb), :class => 'img-responsive' %>
					</div>
					<div class="col-md-6 text-left">
						<h3><%= link_to user.full_name, user %></h3>
						<p><i class="fa fa-envelope"></i> <%= user.email %></p>
						<% if user_signed_in? %>
							<% if current_user.id != user.id %>
								<% if current_user.follows?(user) %>
									<p><%= link_to "Unfollow", user_unfollow_path(:id => user.id), class: "btn btn-danger"  %></p>
								<% else %>
									<p><%= link_to "Follow", user_follow_path(:id => user.id), class: "btn btn-info"  %></p>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>