<h1><%= @user.full_name %></h1>
<div class="row user-profile">
	<div class="col-md-3 photo">
		<%= image_tag @user.avatar.url(:medium), :class => 'img-responsive' %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">User details</h3>
		  </div>
		  <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
				    <p><strong><i class="fa fa-envelope"></i> Email: </strong><%= @user.email %></p>
						<p><strong><i class="fa fa-birthday-cake"></i> Birth date: </strong><%= @user.birth_date %></p>
						<p><strong><i class="fa fa-quote-left"></i> Description: </strong><%= @user.desc %></p>
						<p><strong><i class="fa fa-calendar"></i> Registered: </strong> <%= @user.created_at.strftime("%k:%M, %B %-d %Y")%></p>
						<p><strong><i class="fa fa-heart"></i> Login count: </strong><%= @user.sign_in_count %></p>
					</div>
					<div class="col-sm-6">
						<p><strong><i class="fa fa-book"></i> Notebooks: </strong><%= @notebooks.count %></p>
						<p><strong><i class="fa fa-list-ol"></i> Formulas: </strong><%= @formulas.count %></p>
						<p><strong><i class="fa fa-users"></i> Following: </strong><%= @following %></p>
						<p><strong><i class="fa fa-users"></i> Followers: </strong><%= @followers %></p>
						<p><strong><i class="fa fa-thumbs-up"></i> Likes given: </strong><%= @likes %></p>
					</div>
					<div class="col-md-12">
						<% if user_signed_in? %>
							<% if current_user.id != @user.id %>
								<% if current_user.follows?(@user) %>
									<p><%= link_to "Unfollow", user_unfollow_path(:id => @user.id), class: "btn btn-danger"  %></p>
								<% else %>
									<p><%= link_to "Follow", user_follow_path(:id => @user.id), class: "btn btn-info"  %></p>
								<% end %>
							<% else %>
								<p><%= link_to('Edit'.html_safe, edit_user_registration_path) %></p>
							<% end %>
						<% end %>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
<h3><%= @user.name %>'s formulas:</h3>
<div class="row">
	<% @formulas.each do |formula| %>
	<div class="col-lg-3 col-sm-6 notebook">
		<div class="item">
			<h3><%= link_to formula.name, formula %></h3>
			<p><strong><%= formula.notebook.bjcp.full_name %></strong></p>
			<p><strong>Published:</strong> <%= formula.created_at.strftime("%k:%M, %B %-d %Y") %></p>
			<p>
				<% likes = Like.where(:likeable_type => "Formula", :likeable_id => formula.id).count %>
				<strong><%= likes %></strong>
				<% if current_user.likes?(formula) %>
					<%= link_to '<i class="fa fa-thumbs-o-down"></i> Unlike'.html_safe, formula_unlike_path(:id => formula.id)  %>
				<% else %>
					<%= link_to '<i class="fa fa-thumbs-o-up"></i> Like'.html_safe, formula_like_path(:id => formula.id) %>
				<% end %>
			</p>
			<p><%=link_to '<i class="fa fa-eye"></i> View'.html_safe, formula, :class => 'btn btn-lg btn-info' %></p>
		</div>
	</div>
	<% end %>
</div>
<% if @formulas.empty? %>
<div class="row">
	<div class="col-md-12">
		<p>Teeheeee, no formulas to show <i class="fa fa-beer"></i></p>
	</div>
</div>
<% end %>

