<%= form_for(@brewing) do |f| %>
  <% if @brewing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewing.errors.count, "error") %> prohibited this brewing from being saved:</h2>

      <ul>
      <% @brewing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_minutes %>
    <%= f.number_field :duration_minutes, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit "Go", :class => 'btn btn-primary' %>
  </div>
<% end %>
