<%= form_for(@bottling) do |f| %>
  <% if @bottling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bottling.errors.count, "error") %> prohibited this bottling from being saved:</h2>

      <ul>
      <% @bottling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :blg %>
    <%= f.text_field :blg, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :volume %> <i>(litres)</i>
    <%= f.text_field :volume, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :temperature %> <i>(&deg;C)</i>
    <%= f.text_field :temperature, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :refermentation_material %>
		<%= f.select(:refermentation_material, $materials.map { |value| [ value.humanize, value ] }, {}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :refermentation_material_quantity %> <i>(grams)</i>
    <%= f.text_field :refermentation_material_quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :fermentation_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
