<%= form_for(@filtration) do |f| %>
  <% if @filtration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filtration.errors.count, "error") %> prohibited this filtration from being saved:</h2>

      <ul>
      <% @filtration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :wort %> <i>(litres)</i>
    <%= f.number_field :wort, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :blg %>
    <%= f.text_field :blg, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_minutes %>
    <%= f.number_field :duration_minutes, :class => 'form-control' %>
  </div>
	<div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'form-control' %>
	</div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit "Go", :class => 'btn btn-info' %>
  </div>
<% end %>
