<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :kind %>
		<%= f.select(:kind, $types.map { |value| [ value.humanize, value ] }, {}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, :class => 'form-control'  %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit "Go", :class => 'btn btn-primary' %>
  </div>
<% end %>
