<h1>About</h1>
<p>Autorem niniejszego serwisu jest <strong>Aleksander Gustkiewicz</strong>.</p>
<p>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem <strong>dr. hab. Grzegorza Bilińskiego, prof. ASP</strong> na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
<p>Za pomoc w przygotowaniu aplikacji dziękuję mojemu Tacie, <strong>Łukaszowi Gustkiewiczowi</strong>, piwowarowi i informatykowi.</p>