<%= form_for(@secondary_fermentation) do |f| %>
  <% if @secondary_fermentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secondary_fermentation.errors.count, "error") %> prohibited this secondary fermentation from being saved:</h2>

      <ul>
      <% @secondary_fermentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :blg %>
    <%= f.text_field :blg, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :volume %> <i>(litres)</i>
    <%= f.text_field :volume, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :days %>
    <%= f.number_field :days, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :temperature %> <i>(&deg;C)</i>
    <%= f.text_field :temperature, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :fermentation_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
