<%= form_for(@formula) do |f| %>
  <% if @formula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formula.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul>
      <% @formula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :equipment %>
    <%= f.text_area :equipment, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :efficiency %>
    <%= f.text_field :efficiency, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit 'Go!', :class => 'btn btn-primary' %>
  </div>
<% end %>
