<div class="panel-heading">
	<h1 class="panel-title">General information</h1>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-sm-6">
			<p>
			  <strong>Name:</strong>
			  <%= @notebook.name %>
			</p>
			<% if @notebook.user %>
				<p><strong>Brewer:</strong> <%= link_to @notebook.user.name, @notebook.user %></p>
			<% else %>
				<p><strong>Brewer:</strong> Anonymous</p>
			<% end %>
			<p>
			  <strong>Date:</strong>
			  <%= @formula.created_at.strftime("%B %-d, %Y, %k:%M") %>
			</p>
			<p>
			  <strong>BJCP Style:</strong>
			  <%= @notebook.bjcp.code %> <%= @notebook.bjcp.sub_category %> 
			</p>
			<p>
			  <strong>Description:</strong>
			  <%= @notebook.description %>
			</p>
		</div>
		<div class="col-sm-6">
			<p>
			  <strong>Equipment:</strong>
			  <%= @formula.equipment %>
			</p>
			<p>
			  <strong>Efficiency:</strong>
			  <%= @formula.efficiency %>%
			</p>
			<p>
			  <strong>Volume before brewing:</strong>
			  <%= @notebook.mashin.pot %> litres
			</p>
			<p>
			  <strong>Final bottling volume:</strong>
			  <%= @notebook.fermentation.bottling.volume %> litres
			</p>
			<p>
				<strong>Boil duration:</strong>
				<%= @notebook.brewing.duration_hours %>:<%= @notebook.brewing.duration_minutes %>
			</p>
		</div>
		<% if current_user.id == @notebook.user_id %>
			<div class="col-md-12">
				<p><%= link_to 'Edit', edit_formula_path(@formula) %></p>	
			</div>
		<% end %>
	</div>
</div>
