<div class="panel-heading">
	<h1 class="panel-title">Style</h1>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-12">
			<p>
			  <strong>Code:</strong>
			  <%= @notebook.bjcp.code %>
			</p>
			<p>
			  <strong>Category:</strong>
			  <%= @notebook.bjcp.category %>
			</p>
			<p>
			  <strong>Subcategory:</strong>
			  <%= @notebook.bjcp.sub_category %>
			</p>
			<p>
			  <strong>IBU:</strong>
			  <%= @notebook.bjcp.ibu_min %>-<%= @notebook.bjcp.ibu_max %>
			</p>
			<p>
			  <strong>SRM:</strong>
			  <%= @notebook.bjcp.srm_min %>-<%= @notebook.bjcp.srm_max %>
			</p>
			<p>
			  <strong>ABV:</strong>
			  <%= @notebook.bjcp.abv_min %>-<%= @notebook.bjcp.abv_max %>%
			</p>
			<p>
			  <strong>Measured ABV:</strong>
			  <%= @notebook.abv.round(2) %>%
			</p>
		</div>
	</div>
</div>