<div class="panel-heading">
	<h1 class="panel-title">Ingredients</h1>
</div>

<table class="table">
	<tr>
		<th>Amount</th>
		<th>Name</th>
		<th>Kind</th>
		<th>%</th>
	</tr>
	
	<% @malts = @notebook.ingredients.where(:kind => "malt") %>
	<% @malts_quantity = @malts.map(&:quantity).inject(0, &:+)%>
	<% @malts.each do |malt| %>
		<tr>
			<td><%= malt.quantity %>g</td>
			<td><%= malt.name %></td>
			<td>Malt</td>
			<td><%= ((malt.quantity/@malts_quantity) * 100).round(2) %>%</td>
		</tr>
	<% end %>
	
	<% @yeasts = @notebook.ingredients.where(:kind => "yeast") %>
	<% @yeasts.each do |yeast| %>
		<tr>
			<td><%= yeast.quantity %>g</td>
			<td><%= yeast.name %></td>
			<td>Yeast</td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	
	<% @hops = @notebook.brewing.brewing_hops %>
	<% @hops.each do |hop| %>
		<tr>
			<td><%= hop.hop_quantity %>g</td>
			<td><%= hop.hop_name %> - boil <%= hop.minutes_before_end %> min</td>
			<td>Hop</td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	
	<% @dry_hops = @notebook.fermentation.secondary_fermentation.dry_hoppings %>
	<% @dry_hops.each do |dry_hop| %>
		<tr>
			<td><%= dry_hop.quantity %></td>
			<td><%= dry_hop.name %> - dry hop <%= dry_hop.days_before_end %> days</td>
			<td>Hop</td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
</table>