<div class="panel-heading">
	<h1 class="panel-title">Mash steps</h1>
</div>
<table class="table">
	<tr>
		<th>#</th>
		<th>Type</th>
		<th>Entry temperature</th>
		<th>Result temperature</th>
		<th>Duration</th>
	</tr>
	<% i = 1 %>
	<% @notebook.mashin.mashin_breaks.each do |mashin_break| %>
		<tr>
			<td><%= i %><% i = i+1 %></td>
			<td>
				<% if mashin_break.step_type == 'heat' %>
					<i class="fa fa-arrow-up"></i> Heat
				<% else %>
					<i class="fa fa-minus"></i> Break
				<% end %>
			</td>
			<td><%= mashin_break.entry_temp %> &deg;C</td>
			<td><%= mashin_break.result_temp %> &deg;C</td>
			<td><%= mashin_break.duration_hours %>:<%= mashin_break.duration_minutes.to_i %></td>
		</tr>
	<% end %>
</table>