<div class="panel-heading">
	<h1 class="panel-title">Mash profile</h1>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-12">
			<p>
			  <strong>Sparge water:</strong>
			  <%= @notebook.sweetening.water %> litres
			</p>
			<p>
			  <strong>Sparge temperature:</strong>
			  <%= @notebook.sweetening.temperature %> &deg;C
			</p>
			<p>
			  <strong>Sparge PH:</strong>
			  <%= @notebook.sweetening.ph %>
			</p>
			<p>
			  <strong>Total grain weight:</strong>
			  <%= @malts_quantity %>g
			</p>
			
			<p>
			  <strong>Mash notes:</strong>
			  <%= @notebook.mashin.desc %>
			</p>
		</div>
	</div>
</div>