<div class="panel-heading">
	<h1 class="panel-title">Sparge</h1>
</div>
<div class="panel-body">
	<p>
		Fly sparge with <%= @notebook.sweetening.water %> l water at <%= @notebook.sweetening.temperature %>&deg;C 
	</p>
</div>