<h1>All formulas</h1>

<div class="row">
	<% @formulas.each do |formula| %>
	<div class="col-lg-3 col-sm-6 notebook">
		<div class="item">
			<h3><%= link_to formula.name, formula %></h3>
			<p><strong><%= formula.notebook.bjcp.full_name %></strong></p>
			<% if formula.notebook.user %>
				<p><strong>Brewer:</strong> <%= link_to formula.notebook.user.full_name, formula.notebook.user %></p>
			<% else %>
				<p><strong>Brewer:</strong> Anonymous</p>
			<% end %>
			<p><strong>Published:</strong> <%= formula.created_at.strftime("%k:%M, %B %-d %Y") %></p>
			<p>
				<% likes = Like.where(:likeable_type => "Formula", :likeable_id => formula.id).count %>
				<strong><%= likes %></strong>
				<% if current_user.likes?(formula) %>
					<%= link_to '<i class="fa fa-thumbs-o-down"></i> Unlike'.html_safe, formula_unlike_path(:id => formula.id)  %>
				<% else %>
					<%= link_to '<i class="fa fa-thumbs-o-up"></i> Like'.html_safe, formula_like_path(:id => formula.id) %>
				<% end %>
			</p>
			<p><%=link_to '<i class="fa fa-eye"></i> View'.html_safe, formula, :class => 'btn btn-lg btn-info' %></p>
		</div>
	</div>
	<% end %>
</div>