<% @notebook = @formula.notebook %>
<div class="row">
	<div class="col-md-12">
		<h1>
			<%= @notebook.name %> 
			<span class="pull-right">
				<small>
					<% likes = Like.where(:likeable_type => "Formula", :likeable_id => @formula.id).count %>
					<%= likes %>
					<% if current_user.likes?(@formula) %>
						<%= link_to '<i class="fa fa-thumbs-o-down"></i> Unlike'.html_safe, formula_unlike_path(:id => @formula.id)  %>
					<% else %>
						<%= link_to '<i class="fa fa-thumbs-o-up"></i> Like'.html_safe, formula_like_path(:id => @formula.id) %>
					<% end %>
				</small>
			</span>
		</h1>
	</div>

	<div class="col-md-12">
		<div class="panel panel-primary">
			<%= render 'general' %>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'ingredients' %>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'guideline' %>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'mash_profile' %>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'mash_steps' %>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'sparge' %>
		</div>
	</div>
	
	<!--div class="col-md-12">
		<div class="panel panel-default">
			<%= render 'fermentation' %>
		</div>
	</div-->

	<div class="clearfix"></div>
	
	
</div>
