<%= form_for(@mashin) do |f| %>
  <% if @mashin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mashin.errors.count, "error") %> prohibited this mash from being saved:</h2>

      <ul>
      <% @mashin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pot, "Water volume" %> <i>(litres)</i>
    <%= f.text_field :pot, :class => 'form-control' %>
  </div>
	<div class="form-group">
		<%= f.label :entry_temp %> <i>(&deg;C)</i>
		<%= f.text_field :entry_temp, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :result_temp %> <i>(&deg;C)</i>
		<%= f.text_field :result_temp, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :ph %>
		<%= f.text_field :ph, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :acid, "Acid name" %>
		<%= f.text_field :acid, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :acid_volume %> <i>(mililitres)</i>
		<%= f.text_field :acid_volume, :class => 'form-control' %>
	</div>
	<div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'form-control' %>
	</div>
  <div lass="form-group">
		<%= f.hidden_field :notebook_id, :class => 'form-control' %>
    <%= f.submit "Go", :class => 'btn btn-info' %>
  </div>
<% end %>
