<%= form_for(resource, :html => { :class => "form-horizontal new_user" }, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="form-group">
		<div class="col-sm-12 logo">
			<h1>Brewnote</h1>
			
		</div>
	</div>
  <div class="form-group has-feedback has-feedback-left">
    <div class="col-sm-12">
			<%= f.email_field :email, autofocus: true, :class => 'form-control input-lg', :placeholder => "E-mail" %>
			<i class="form-control-feedback fa fa-envelope"></i>
		</div>
	</div>

  <div class="form-group has-feedback has-feedback-left">
		<div class="col-sm-12">
				<%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg', :placeholder => "Password" %>
				<i class="form-control-feedback fa fa-lock"></i>
			</div>
		</div>

  <% if devise_mapping.rememberable? -%>
		<div class="form-group">
	    <div class="col-sm-3">
	      <%= f.submit 'Log in', :class => "btn btn-info btn-lg" %>
	    </div>
	    <div class="col-sm-9">
	      <div class="checkbox">
	        <label>
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %>
	        </label>
	      </div>
	    </div>
	  </div>
  <% else -%>
	<div class="form-group">
	    <div class="col-sm-12">
	      <%= f.submit 'Log in'.html_safe, :class => "btn btn-info btn-lg" %>
	    </div>
	</div>
	<% end %>
<% end %>

<%= render "devise/shared/links" %>

