<%= form_for(@dry_hopping) do |f| %>
  <% if @dry_hopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dry_hopping.errors.count, "error") %> prohibited this dry hopping from being saved:</h2>

      <ul>
      <% @dry_hopping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %> <i>(grams)</i>
    <%= f.text_field :quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :days_before_end %>
    <%= f.number_field :days_before_end, :class => 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.hidden_field :secondary_fermentation_id %>
    <%= f.submit "Go", :class => 'btn btn-info' %>
  </div>
<% end %>
