<% unless @brewing.nil? %>
	<% @brewing_length = (@brewing.duration_hours * 60 ) + @brewing.duration_minutes %>
	<ul class="pull-right list-unstyled">
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      Menu <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu" role="menu">
				<li><%= link_to '<i class="fa fa-plus"></i> New hopping'.html_safe, new_brewing_hop_with_param_path(@brewing.id) %></li>
	      <li><%= link_to '<i class="fa fa-edit"></i> Edit brewing'.html_safe, edit_brewing_path(@brewing) %></li>
				<li class="danger">	<%= link_to '<i class="fa fa-close"></i> Delete brewing'.html_safe, @brewing, method: :delete, data: { confirm: 'Are you sure? THIS WILL DELETE EVERYTHING THAT HAPPENED BREWING!!' } %></li>
	    </ul>
	  </li>
	</ul>
	<p class="pull-left">
		<strong>Duration:</strong>
		<%= @brewing.duration_hours %>:<%= @brewing.duration_minutes %>
	</p>
	<div class="clearfix"></div>
	<p>
		<strong>Notes:</strong>
		<%= @brewing.desc %>
	</p>
	<table class="table table-responsive">
		<tr>
			<th>Hop name</th>
			<th>Hop quantity</th>
			<th>Minutes before end</th>
			<th></th>
		</tr>
		<% @brewing.brewing_hops.each do |hop| %>
			<tr>
				<td><%= hop.hop_name %></td>
				<td><%= hop.hop_quantity %>g</td>
				<% if hop.minutes_before_end > @brewing_length %>
					<td style="color:red;"><%= hop.minutes_before_end %></td>
				<% else %>
					<td><%= hop.minutes_before_end %></td>
				<% end %>
				<td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_brewing_hop_path(hop) %> <%= link_to '<i class="fa fa-close"></i>'.html_safe, hop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
		</tr>
	</table>
<% end %>
<% if @brewing.nil? && !@sweetening.nil? && !@filtration.nil? && !@mashin.nil? %>
	<%= link_to 'New brewing', new_brewing_with_param_path(@notebook.id), :class => 'btn btn-info' %>
<% end %>
<% if @brewing.nil? && @sweetening.nil? %>
	<p class="text-danger">Please complete previous steps!</p>
<% end %>