<% unless @fermentation.nil? %>
	<div class="row">
		<div class="col-md-3">
			<ul class="pull-right list-unstyled">
			  <li role="presentation" class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
			      Menu <i class="fa fa-caret-down"></i>
			    </a>
			    <ul class="dropdown-menu" role="menu">
						<li><%= link_to '<i class="fa fa-edit"></i> Edit fermentation'.html_safe, edit_fermentation_path(@fermentation)%></li>
			      <li><%= link_to '<i class="fa fa-close"></i> Delete fermentation'.html_safe, @fermentation, method: :delete, data: { confirm: 'Are you sure? THIS WILL DELETE EVERYTHING THAT HAPPENED AFTER FERMENTATION!!' } %></li>
						<% unless @fermentation.secondary_fermentation.nil? %>
							<li class="divider"></li>
							<li><%= link_to '<i class="fa fa-edit"></i> Edit secondary fermentation'.html_safe, edit_secondary_fermentation_path(@fermentation.secondary_fermentation) %></li>
							<li><%= link_to '<i class="fa fa-close"></i> Delete secondary fermentation'.html_safe, @fermentation.secondary_fermentation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
						<% end %>
						<% unless @fermentation.bottling.nil? %>
							<li class="divider"></li>
							<li><%= link_to '<i class="fa fa-edit"></i> Edit bottling'.html_safe, edit_bottling_path(@fermentation.bottling) %></li>
							<li><%= link_to '<i class="fa fa-close"></i> Delete bottling'.html_safe, @fermentation.bottling, method: :delete, data: { confirm: 'Are you sure?' } %></li>
						<% end %>
			    </ul>
			  </li>
			</ul>
			<h4 class="pull-left">Primary fermentation</h4>
			<div class="clearfix"></div>
			<p>
				<strong>Volume:</strong>
				<%= @fermentation.quantity %> litres
			</p>
			<p>
				<strong>Start temperature:</strong>
				<%= @fermentation.start_temperature %> &deg;C
			</p>
			<p>
				<strong>Balling:</strong>
				<%= @fermentation.blg %> &deg;blg
			</p>
			<p>
				<strong>Yeast form:</strong>
				<%= @fermentation.yeast_form.humanize %>
			</p>
			<p>
				<strong>Yeast quantity:</strong>
				<%= @fermentation.yeast_quantity %>
				<% if @fermentation.yeast_form == "rehydratation" %>g<% else %>ml<% end %>
			</p>
			<p>
				<strong>Notes:</strong>
				<%= @fermentation.desc %>
			</p>
		</div>
	
		<div class="col-md-3">
			<% unless @fermentation.primary_fermentation_days.first.nil? %>
				<table class="table">
					<tr>
						<th>Day</th>
						<th>Temperature</th>
						<th></th>
					</tr>
					<% @fermentation.primary_fermentation_days.each do |day| %>
						<tr>
							<td><%= day.day %></td>
							<td><%= day.temperature %> &deg;C</td>
							<td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_primary_fermentation_day_path(day) %> <%= link_to '<i class="fa fa-close"></i>'.html_safe, day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							</tr>
						</tr>
					<% end %>
				</table>
			<% end %>
			<%= link_to 'New day', new_primary_fermentation_day_with_param_path(@fermentation.id), :class => 'btn btn-info' %>
		</div>
	
	
	
	
		<div class="col-md-3">
			<% unless @fermentation.secondary_fermentation.nil? %>
				<h4>Secondary fermentation</h4>
				<p>
					<strong>Balling:</strong>
					<%= @fermentation.secondary_fermentation.blg %> &deg;blg
				</p>
				<p>
					<strong>Volume:</strong>
					<%= @fermentation.secondary_fermentation.volume %> litres
				</p>
				<p>
					<strong>Days:</strong>
					<%= @fermentation.secondary_fermentation.days %>
				</p>
				<p>
					<strong>Temperature:</strong>
					<%= @fermentation.secondary_fermentation.temperature %> &deg;C
				</p>
				<% @hoppings = @fermentation.secondary_fermentation.dry_hoppings %>
				<% unless @hoppings.first.nil? %>
					<p>
					  <strong>Dry hopping</strong>
						<table class="table">
							<th>Name</th>
							<th>Qty</th>
							<th>Days before end</th>
							<th></th>
							<% @hoppings.each do |hop| %>
							<tr>
								<td><%= hop.name %></td>
								<td><%= hop.quantity %>g</td>
								<% if hop.days_before_end > @fermentation.secondary_fermentation.days %>
									<td style="color:red;"><%= hop.days_before_end %></td>
								<% else %>
									<td><%= hop.days_before_end %></td>
								<% end %>
								<td>
									<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_dry_hopping_path(hop) %> 
					      	<%= link_to '<i class="fa fa-close"></i>'.html_safe, hop, method: :delete, data: { confirm: 'Are you sure?' } %>
								</td>
							</tr>
							<% end %>
						</table>
					</p>
				<% end %>
				<%= link_to 'New dry hopping', new_dry_hopping_with_param_path(@fermentation.secondary_fermentation.id), :class => 'btn btn-info' %>
			<% end %>
			<% if @fermentation.secondary_fermentation.nil? %>
				<%= link_to 'New secondary fermentation', new_secondary_fermentation_with_param_path(@fermentation.id), :class => 'btn btn-info' %> 
			<% end %>
		</div>
	
		<div class="col-md-3">
			<% unless @fermentation.bottling.nil? %>
				<h4>Bottling</h4>
				<p>
					<strong>Balling:</strong>
					<%= @fermentation.bottling.blg %> &deg;blg
				</p>
				<p>
					<strong>Volume:</strong>
					<%= @fermentation.bottling.volume %> litres
				</p>
				<p>
					<strong>Temperature:</strong>
					<%= @fermentation.bottling.temperature %> &deg;C
				</p>
				<p>
					<strong>Refermentation material:</strong>
					<%= @fermentation.bottling.refermentation_material.humanize %>
				</p>
				<p>
					<strong>Refermentation material quantity:</strong>
					<%= @fermentation.bottling.refermentation_material_quantity %>g
				</p>
				<p>
					<strong>Refermentation material per liter:</strong>
					<%= @fermentation.bottling.material_per_liter.round(3) %>
				</p>
			<% end %>
			<% if @fermentation.bottling.nil? && !@fermentation.secondary_fermentation.nil? %>
				<%= link_to 'New bottling', new_bottling_with_param_path(@fermentation.id), :class => 'btn btn-info' %> 
			<% end %>
		</div>
	</div>
<% end %>
<% if @fermentation.nil? && !@brewing.nil? && !@sweetening.nil? && !@filtration.nil? && !@mashin.nil? %>
	<%= link_to 'New fermentation', new_fermentation_with_param_path(@notebook.id), :class => 'btn btn-info' %>
<% end %>
<% if @fermentation.nil? && @brewing.nil? %>
	<p class="text-danger">Please complete previous steps!</p>
<% end %>