<% unless @filtration.nil? %>
	<ul class="pull-right list-unstyled">
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      Menu <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to '<i class="fa fa-edit"></i> Edit filtration'.html_safe, edit_filtration_path(@filtration) %></li>
				<li class="danger">	<%= link_to '<i class="fa fa-close"></i> Delete filtration'.html_safe, @filtration, method: :delete, data: { confirm: 'Are you sure? THIS WILL DELETE EVERYTHING THAT HAPPENED FILTRATION!!' } %></li>
	    </ul>
	  </li>
	</ul>
	<p class="pull-left">
		<strong>Wort:</strong>
		<%= @filtration.wort %> litres
	</p>
	<div class="clearfix"></div>
	<p>
		<strong>Balling:</strong>
		<%= @filtration.blg %> &deg;blg
	</p>
	<p>
		<strong>Duration:</strong>
		<%= @filtration.duration_hours %>:<%= @filtration.duration_minutes %>
	</p>
	<p>
		<strong>Notes:</strong>
		<%= @filtration.desc %>
	</p>
<% end %>

<% if @filtration.nil? && !@mashin.nil? %>
	<%= link_to 'New filtration', new_filtration_with_param_path(@notebook.id), :class => 'btn btn-info' %>  
<% end %>
<% if @filtration.nil? && @mashin.nil? %>
	<p class="text-danger">Please complete previous step!</p>
<% end %>