<% unless @mashin.nil? %>
	<ul class="pull-right list-unstyled">
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      Menu <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to '<i class="fa fa-plus"></i>  New step'.html_safe, new_mashin_break_with_param_path(@mashin.id) %> </li>
				<li><%= link_to '<i class="fa fa-edit"></i> Edit mash'.html_safe, edit_mashin_path(@mashin) %></li>
				<li class="danger"><%= link_to '<i class="fa fa-close"></i> Delete mash'.html_safe, @mashin, method: :delete, data: { confirm: 'Are you sure? THIS WILL DELETE EVERYTHING THAT HAPPENED AFTER MASH IN!!' }, :class => 'text-danger' %></li>
	    </ul>
	  </li>
	</ul>
	<p class="pull-left">
		<strong>Water volume:</strong>
		<%= @mashin.pot %> litres
	</p>
	<div class="clearfix"></div>
	<p>
		<strong>Entry temperature:</strong>
		<%= @mashin.entry_temp%>&deg;C
	</p>
	<% if @mashin.result_temp %>
		<p>
			<strong>Result temperature:</strong>
			<%= @mashin.result_temp %>&deg;C
		</p>
	<% end %>
	<% if @mashin.ph %>
		<p>
			<strong>pH:</strong>
			<%= @mashin.ph %>
		</p>
	<% end %>
	<% if @mashin.acid %>
		<p>
			<strong>Acid name:</strong>
			<%= @mashin.acid %>
		</p>
	<% end %>
	<% if @mashin.acid_volume %>
		<p>
			<strong>Acid volume:</strong>
			<%= @mashin.acid_volume %>ml
		</p>
	<% end %>
	<% if @mashin.desc %>
		<p>
			<strong>Notes:</strong>
			<%= @mashin.desc %>
		</p>
	<% end %>
	<table class="table">
		<tr>
			<th>Type</th>
			<th>Entry temperature</th>
			<th>Result temperature</th>
			<th>Duration</th>
			<th></th>
		</tr>
		<% @mashin.mashin_breaks.each do |mashin_break| %>
			<tr>
				<td>
					<% if mashin_break.step_type == 'heat' %>
						<i class="fa fa-arrow-up"></i> Heat
					<% else %>
						<i class="fa fa-minus"></i> Break
					<% end %>
				</td>
				<td><%= mashin_break.entry_temp %> &deg;C</td>
				<td><%= mashin_break.result_temp %> &deg;C</td>
				<td><%= mashin_break.duration_hours %>:<%= mashin_break.duration_minutes.to_i %></td>
					<td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_mashin_break_path(mashin_break) %> <%= link_to '<i class="fa fa-close"></i>'.html_safe, mashin_break, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			</tr>
		<% end %>
	</table>
<% else %>
	<%= link_to 'New mash in', new_mashin_with_param_path(@notebook.id), :class => 'btn btn-info' %>
<% end %>