<% 
now = @notebook.progress
now = now * 14.3 unless now == 0
%>
<% if now >= 100 %>
	<div class="progress">
	  <div class="progress-bar active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	    <span class="sr-only"><%= now %>% Complete</span>
	  </div>
	</div>
<% else %>
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= now %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= now %>%">
	    <span class="sr-only"><%= now %>% Complete</span>
	  </div>
	</div>
<% end %>