<% unless @sweetening.nil? %>
	<ul class="pull-right list-unstyled">
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      Menu <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to '<i class="fa fa-edit"></i> Edit sparge'.html_safe, edit_sweetening_path(@sweetening) %></li>
				<li class="danger">	<%= link_to '<i class="fa fa-close"></i> Delete sparge'.html_safe, @sweetening, method: :delete, data: { confirm: 'Are you sure? THIS WILL DELETE EVERYTHING THAT HAPPENED SPARGE!!' } %></li>
	    </ul>
	  </li>
	</ul>
	<p class="pull-left">
		<strong>Duration:</strong>
		<%= @sweetening.duration_hours %>:<%= @sweetening.duration_minutes %>
	</p>
	<div class="clearfix"></div>
	<p>
		<strong>Water:</strong>
		<%= @sweetening.water %> litres
	</p>
	<p>
		<strong>Temperature:</strong>
		<%= @sweetening.temperature %> &deg;C
	</p>
	<p>
		<strong>Acid name:</strong>
		<%= @sweetening.acid_name %>
	</p>
	<p>
		<strong>Acid:</strong>
		<%= @sweetening.acid %> mililitres
	</p>
	<p>
		<strong>pH</strong>
		<%= @sweetening.ph %>
	</p>
	<p>
		<strong>Notes:</strong>
		<%= @sweetening.desc %>
	</p>
<% end %>

<% if @sweetening.nil? && !@filtration.nil? && !@mashin.nil? %>
	<%= link_to 'New sparge', new_sweetening_with_param_path(@notebook.id), :class => 'btn btn-info' %>  
<% end %>
<% if @sweetening.nil? && @filtration.nil? %>
	<p class="text-danger">Please complete previous steps!</p>
<% end %>