/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

$brand-success: #009D3C;
$brand-info: #336d9b;
$brand-danger: #510804;

$border-radius-base: 2px;
$border-radius-large: 2px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "hover/hover.scss";

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

$menuWidth: 250px;


$light-red: #670f01;
$dark-red: #510804;
$bg: #f5f5f1;
$font-primary: #5a5758;
$font-secondary: #bb4e1a;

body{
	font-family: 'PT Sans', sans-serif;
	background:$bg;
	color:$font-primary;
	
	.new_user{
		select{
			margin-bottom:15px;
		}
	}
	
	#error_explanation{
		h2, li{
			color:$light-red;
		}
	}
	
	#wrapper {
	  padding-left: 0;
	}
	.logo{
			font-family: 'Lobster', cursive;
			h1{
				font-size:40px;
				text-align:center;
				color:$dark-red;
			}
	}
	a{
		color:$font-secondary;
		&:hover{
			text-decoration:none;
			color:$light-red;
		}
	}
	.panel-primary{
		border-color:$light-red;
		& > .panel-heading{
			background:$light-red;
			border-color:$light-red;
		}
	}
	.breadcrumb{
		margin-top:20px;
		background:transparent;
		color:$dark-red;
		a{
			color:white;
			&:hover{
				font-weight:bold;
			}
		}
	}
	.notebook{
		margin-bottom:20px;
		.item{
			border:1px solid #ddd;
			text-align:center;
			border-radius:$border-radius-base;
			padding:10px;
			background:white;
		}
	}
	.notebook-view{
		.dropdown-menu{
			left:initial;
			right:0;
		}
		.panel-body{
			h4{
				margin-top:0;
			}
		}
	}
	
	nav{
		-webkit-transform: inherit;
		transform: inherit;
		
		.side-nav{
			background:$light-red;
			.logo{
				a{
					padding-top:17px;
				}
				h1{
					margin:0;
					font-family: 'Lobster', cursive;
					font-size:40px;
				}
			}
			a{
				font-size:18px;
				color:white;
			}
			.dropdown-menu{
				background:$dark-red;
				a{
					padding-top:5px;
					padding-bottom:5px;
				}
				.hvr-bounce-to-right{
					&:before{
						background:white!important;
					}
				}
			}
		}	
	}
	
	.top-header{
		background:$font-secondary;
		.navbar-toggle{
			margin-top:20px;
			.icon-bar{
				background:white;
			}
		}
	}
	
	.feed{
		img{
			max-height:50px;
		}
		margin:5px 0;
		padding:5px;
		& > div{
			/*float:left;*/
			padding-right:5px;
		}
		&:nth-child(even){
			background:#e9eaed;
		}
	}
	
}

.nav > li > a:hover, .nav > li > a:focus{
	background:transparent;
	color:white!important;
}
.navbar-toggle .icon-bar{
	background:#777;
}

@media (min-width: 768px){
	body {
		#wrapper {
		  padding-left: $menuWidth;
		}
		.panel-feed{
			.panel-body{
				max-height:400px;
				overflow:scroll;
			}
		}
		.side-nav {
		  position: fixed;
		  top: 0;
		  left: $menuWidth;
		  width: $menuWidth;
		  margin-left: -$menuWidth;
		  border: none;
		  border-radius: 0;
		  overflow-y: auto;
		  bottom: 0;
		  overflow-x: hidden;
		  padding-bottom: 40px;
			
			li a{
				width: $menuWidth;
				padding-top:30px;
				padding-bottom:30px;
			}
			.dropdown-menu{
				box-shadow:none;
				border-bottom:0;
			}
		}
	}
}
@media(max-width: 767px){
	.navbar-nav{
		margin:0 -15px;
		> li{
			> a{
				padding-top:20px;
				padding-bottom:20px;
				text-align:center;
			}
		}
		.dropdown-menu{
			a{
				text-align:center;
				padding:5px 15px 5px 15px!important;
			}
		}
	}
}
@media(max-width: 991px){
	.user-profile{
		.photo{
			text-align:center;
			margin-bottom:20px;
			img{
				display:initial;
			}
		}
	}
}
