<%= form_for(@sweetening) do |f| %>
  <% if @sweetening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sweetening.errors.count, "error") %> prohibited this sweetening from being saved:</h2>

      <ul>
      <% @sweetening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="form-group">
    <%= f.label :water %> <i>(litres)</i>
    <%= f.text_field :water, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :temperature %> <i>(&deg;C)</i>
    <%= f.text_field :temperature, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ph %>
    <%= f.text_field :ph, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :acid_name %>
    <%= f.text_field :acid_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :acid, "Acid volume" %> <i>(mililitres)</i>
    <%= f.text_field :acid, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration_minutes %>
    <%= f.number_field :duration_minutes, :class => 'form-control' %>
  </div>
	<div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'form-control' %>
	</div>
  <div class="form-group">
		<%= f.hidden_field :notebook_id %>
    <%= f.submit "Go", :class => 'btn btn-primary' %>
  </div>
<% end %>
