<!-- Navigation -->
<nav role="navigation">
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
						<li class="logo">
								<%= link_to '<h1>Brewnote</h1>'.html_safe, root_path %>
						</li>
            <li>
								<%= link_to '<i class="fa fa-fw fa-dashboard"></i> Dashboard'.html_safe, root_path, :class => 'hvr-bounce-to-right' %>
            </li>
            <li>
                <%= link_to '<i class="fa fa-fw fa-book"></i> Notebooks'.html_safe, notebooks_path, :class => 'hvr-bounce-to-right' %>
            </li>
            <li>
							<%= link_to '<i class="fa fa-fw fa-list-ol"></i> Formulas'.html_safe, formulas_path, :class => 'hvr-bounce-to-right' %>
            </li>
            <!--li>
                <a href="#" class="hvr-bounce-to-right"><i class="fa fa-fw fa-bar-chart"></i> Statistics</a>
            </li-->
            <li>
							<%= link_to '<i class="fa fa-fw fa-users"></i> People'.html_safe, users_index_path, :class => 'hvr-bounce-to-right' %>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hvr-bounce-to-right" data-toggle="dropdown">
									<i class="fa fa-user fa-fw"></i>Hello, <%= current_user.name %>! <i class="fa fa-caret-down pull-right"></i>
								</a>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to('<i class="fa fa-fw fa-user"></i>  Profile'.html_safe, current_user, :class => 'hvr-bounce-to-right') %>
                    </li>
                    <li>
                        <%= link_to('<i class="fa fa-fw fa-gear"></i>  Settings'.html_safe, edit_user_registration_path, :class => 'hvr-bounce-to-right') %>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to('<i class="fa fa-fw fa-power-off"></i> Logout'.html_safe, destroy_user_session_path, :class => 'hvr-bounce-to-right') %>
                    </li>
                </ul>
            </li>
            <li>
							<%= link_to '<i class="fa fa-fw fa-beer"></i> About'.html_safe, about_path, :class => 'hvr-bounce-to-right' %>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
