<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Brewnote</title>
		
		
    <%= stylesheet_link_tag    "application" %>
		<!--
		<%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "vendor/modernizr" %>
			-->
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%if user_signed_in? %>logged-in<% else %>not-logged-in<% end %>">
		<%if user_signed_in? %>
		<!-- USER LOGGED IN LAYOUT -->

    <div id="wrapper">
				<%= render 'layouts/logged_in_menu' %>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                	<div class="col-xs-12 top-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
										<ol class="breadcrumb">
										    <%= render_breadcrumbs :tag => :li, :separator => "" %>
										</ol>
										
										<!-- dont touch the below code -.- -->
										<div class="alert alert-success notice alert-dismissible" role="alert" id="notice"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %></div>
										<!-- end of dont touch -->
										
										<div class="alert alert-danger" role="alert" id="alert"><%= alert %></div>
                  </div>
								</div>
								<!-- /Page Heading -->
								
								<div class="row">
									<div class="col-lg-12">
										<%= yield %>
									</div>
             	 	</div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
		
		<!-- end of USER LOGGED IN LAYOUT -->
		<% else %>
		<!-- USER NOT LOGGED IN LAYOUT -->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<%= yield %>
				</div>
			</div>
		</div>
		
		<!-- end of USER NOT LOGGED IN LAYOUT -->
		<% end %>
  </body>
</html>
